[Unit]
Description=Fortify Demo Environment
After=docker.service
BindsTo=docker.service
Wants=network-online.target

[Service]
User=root
ExecStart=/bin/bash -c "/opt/demoenv/start.sh; exit 0;"

[Install]
WantedBy=multi-user.target